<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animales</title>
</head>
<body>
    <h1>Bienvid@s a el zoologico</h1>
    <div>
        <a href="gatos.html" target="_blank"><img src="../public/img/gato.png"  alt="gato" ></a>
    </div>
    
    <img src="../public/img/perro.jpg" alt="perro">
    
    <iframe width="853" height="480" src="https://www.youtube.com/embed/BuOADNq99Ms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="500" height="500" src="https://www.youtube.com/embed/aL4gEepKH5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe src="https://player.vimeo.com/video/45808057?h=427eb2a5e8" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <p><a href="https://vimeo.com/45808057">1000 Gatos</a> from <a href="https://vimeo.com/assovio">assovio</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</body>
</html>